body {
  background-color: #ACD8C9;
}

.header3{
  position: absolute;
  width: 583px;
  height: 29px;
  left: 24px;
  top: 60px;

  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: rgba(54, 84, 191, 0.62);
}

.image {
  position: absolute;
width: 479px;
height: 796px;
left: 458px;
top: 119px;

background: url(tree-with-hearts-clipart-7.png);
}

.header1 { 
  position: absolute;
  width: 167px;
  height: 57px;
  left: 24px;
  top: 0px;

  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 73px;

  color: rgba(79, 78, 85, 0.62);
}

body {
	background-color: #C5FDFD;
	font-family: "Martel Sans", sans-serif;
	padding: 0;
	margin: 0;
}

.header {
	position: fixed;
	margin: 5px;
	top: 0;
	left: 0;
}

.content {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.bubble {
	flex-basis: 250px;
	background-color: #5EE92E;
	padding: 60px 30px;
	margin: auto 100px;
	border-radius: 50%;
	z-index: 1;
}

.bubble.dark {
	background-color: #41D734;
}

.tree {
	width: auto;
	height: 80vh;
	margin-top: auto;
	bottom: 0;
	position: absolute;
}