body {
  background-color: #ACD8C9;
}

body {
	background-color: #C5FDFD;
	font-family: "Martel Sans", sans-serif;
	padding: 0;
	margin: 0;
}

.header {
	position: fixed;
	margin: 5px;
	top: 0;
	left: 0;
}

.content {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.bubble {
	flex-basis: 250px;
	background-color: #5EE92E;
	padding: 60px 30px;
	margin: auto 100px;
	border-radius: 50%;
	z-index: 1;
}

.bubble.dark {
	background-color: #41D734;
}

.tree {
	width: auto;
	height: 80vh;
	margin-top: auto;
	bottom: 0;
	position: absolute;
}