.button {
  position: absolute;
  width: 441px;
  height: 106px;
  left: 824px;
  top: 699px;
  text-align: center;
  background: #F47070;
  border-radius: 50px;
  cursor: pointer;
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 54px;
}

.registration {
  position: absolute;
width: 239px;
height: 44px;
left: 1264px;
top: 18px;

font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;

color: #65617D;
  
}

.product {
 position: absolute;
width: 123px;
height: 44px;
left: 851px;
top: 18px;

font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;

color: #65617D;

}
.pricing{
  position: absolute;
width: 141px;
height: 44px;
left: 984px;
top: 18px;

font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;

color: #65617D;

}
.aboutus{
  position: absolute;
width: 164px;
height: 44px;
left: 1100px;
top: 18px;

font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;

color: #65617D;
}

.name_input1 {
  position: absolute;
  width: 518px;
  height: 64px;
  left: 766px;
  top: 339px;

  font-size: 80 px;

  background: rgba(196, 196, 196, 0.15);
}

.name_input2 {
  position: absolute;
  width: 518px;
  height: 64px;
  left: 766px;
  top: 525px;

  font-size: 80 px;

  background: rgba(196, 196, 196, 0.15);
}

img {
  position: absolute;
  width: 598px;
  height: 432px;
  left: 62px;
  top: 273px;
}

body {
  background-color: #ACD8C9;
}

.button:hover {
  background: rgba(247, 134, 137, 0.63);
}

