body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
  background-color: #76A3DC;
} 

.header1 { 
  position: absolute;
  width: 167px;
  height: 57px;
  left: 24px;
  top: 0px;

  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 73px;

  color: rgba(79, 78, 85, 0.62);
  
}
.header2{
  position: absolute;
  width: 437px;
  height: 49px;
  left: 930px;
  top: 31px;

  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;

  color: #65617D;
}
.header3{
  position: absolute;
  width: 583px;
  height: 29px;
  left: 24px;
  top: 60px;

  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: rgba(54, 84, 191, 0.62);
}

.image {
  position: absolute;
  width: 1100px;
  height: 600px;
  right: 500px;
  top: 200px;

  background: url(Cover-6.png);
}
p{
  position: absolute;
  width: 305px;
  height: 44px;
  left: 940px;
  top: 175px;

  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  
  color: rgba(79, 78, 85, 0.62);
}
.name_input{
  border-radius: 10px;
  position: absolute;
  width: 549px;
  height: 64px;
  left: 818px;
  top: 265px;
  
  font-family: Martel Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 66px;

  background: #FFFFFF;
}