body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
  background-color: #76A3DC;
} 

.header { 
      position: absolute;
      width: 167px;
      height: 57px;
      left: 24px;
      top: 13px;

      font-family: Fredoka One;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 73px;

      color: rgba(79, 78, 85, 0.62);
  
}